<%- include("header"); -%>

<h2>this is the about page of our website</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium, expedita. A aspernatur ratione inventore ex laborum ullam esse optio nihil laboriosam? Numquam dignissimos possimus, nesciunt temporibus velit veritatis ullam facere!</p>

<%- include("footer"); -%>
